# Окружение: local, dev, prod
ENV=local

# Выбор хранилища: memory или postgres
STORAGE_TYPE=memory
COMPOSE_PROFILES=${STORAGE_TYPE}

# Лимит для memory хранилища (макс. количество ссылок)
MEMORY_STORAGE_LIMIT=500000

# Настройки HTTP-сервера
APP_PORT=8080
HTTP_TIMEOUT=4s
HTTP_IDLE_TIMEOUT=60s

# Настройки для подключения к PostgreSQL (требуются при STORAGE_TYPE=postgres)
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shortener_db