# Окружение: local, dev, prod
ENV=local

# Выбор хранилища: memory или postgres
STORAGE_TYPE=memory

# Настройки HTTP-сервера
HTTP_ADDRESS=:8080
HTTP_TIMEOUT=4s
HTTP_IDLE_TIMEOUT=60s

# Настройки для подключения к PostgreSQL
# Формат: postgres://username:password@host:port/database_name?sslmode=disable
DATABASE_DSN=postgres://username:password@localhost:5432/shortener_db?sslmode=disable