# Окружение: local, dev, prod
ENV=local

# Выбор хранилища: memory или postgres
STORAGE_TYPE=postgres
COMPOSE_PROFILES=${STORAGE_TYPE}

# Настройки HTTP-сервера
HTTP_ADDRESS=:8080
HTTP_TIMEOUT=4s
HTTP_IDLE_TIMEOUT=60s

# Настройки для подключения к PostgreSQL
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shortener_db